@model ListingTodos.Models.TodoViewModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>

    @using (Html.BeginForm("AddUser", "Todo", FormMethod.Post))
    {
        @Html.LabelFor(model => model.Todo.Title)
        @Html.TextBoxFor(model => model.Todo.Title)
        <button type="submit">Press me</button>
        @Html.LabelFor(model => model.Todo.IsUrgent)
        @Html.CheckBoxFor(model => model.Todo.IsUrgent)
        <a asp-controller="Todo" asp-action="Index">Cancel</a><br />
    }

</body>
</html>
