@model WebApplication2.Models.Hello
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Getting Started: Serving Web Content</title>
</head>
<body>
    <p style="color:@Model.RndColor()">@Model.RndHello()</p>
</body>
</html>
