
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>
    <h2>Is student in a list?</h2>
    <form action="checked" method="get">
        <input type="text" id="check_student" name="check_student"><br>
        <input type="submit" value="submit">
    </form>

</body>
</html>
