@model bool
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>
    <header>
        <a href="http://localhost:22917/gfa/list">Main Page</a> 
    </header>
    @if (Model)
    {<h3>This student is already in list</h3> }
    else
    {
        <h3>This student is not in the list</h3>
    }
</body>
</html>
